
#mainPage{
    width: 50%;
    height: 100vh;
    border: solid 0.37px #7a849073 ;
    margin-top: -8px;
}
.topDiv{
    height:39px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom:solid 0.37px #7a849073  ;
}
.topDiv p{
    font-size: var(--font_size1) ;
    color: var(--font_color);
    font-weight: 400;
    margin-left: 50px;
}
.topDiv span{
    font-size: var(--icon_size1) ;
    color: var(--twetter_color);
    font-weight: 400;
    margin-right: 50px;
}
.topDiv span:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
.writing-section{
    height: 110px;
    display: flex;
    align-items: center;

}
.profile-pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 0.37px #7a849073;
    margin-left: 10px;
    cursor: pointer;
}
.writing-section input{
    height: 80px;
    width: 100%;
    background-color: var(--backgrond_color);
    border: none;
    margin-left: 15px;
    color: var(--font_color);
    font-size: var(--font_size1);
}
.writing-section input:focus{
    background-color: var(--backgrond_color) ;
    outline: none;
}

.writing-section button{
    display: flex;
    height: 25px;
    width: 80px;
    background-color: var(--twetter_color);
    color: var(--font_color);
    font-size: var(--font_size2);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 7%;
}
.writing-section button:hover{
    background-color: var(--hover_backgrond_color);
}
.thered-section div{
    height: 10px;
    width: 100%;
    background-color: var( --gray-color );
    border:solid 0.37px #7a849073 ;
}
.thered-section button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgrond_color);
    color: var(--twetter_color);
    font-size: var(--font_size);
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 20px;
}
.thered-section button:hover{
    color: var(--hover_backgrond_color);
} 
.user-info{
    display: flex;
}
.user-info .profile-pic img{
    width: 40px;
    height: 40px;   
    margin: 15px 0 0 15px;
}
.user-info p{
    font-size: var(--font_size1) ;
    color: var(--font_color);
    font-weight: 200;
    text-transform: capitalize;
    margin-top: 17px;
    margin-left: 8px;
}
.material-symbols-outlined {
    color: #ffffff;
    margin-top: 19px;
    margin-left: 3px;
    font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 20
  
}
.user-info span{
    font-size: var(--font_size2);
}
.user-info span:not(.material-symbols-outlined){
    color:var(--font_colorGray );
    margin-top: 17px;
    padding: 0 0px 0 7px;
}