@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@200;300&display=swap');

/* this are the css rule */
/* this are the variable */
:root{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
    --backgrond_color:#16202A;
    --twetter_color : #60A5FA;
}
/* this is exmpel to how to use it delet it when you start working */
body{
    background-color: var(--backgrond_color);
}
#leftNav{
    width: 25%;
}
#mainPage{
    width: 50%;
}