/* this are the css rule */
/* this are the variable */
:root{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Roboto, sans-serif;
    text-transform: capitalize;
    --backgrond_color:#16202A;
    --hover_backgrond_color:#1b72dd;
    --twetter_color : #4a96f3;
    --gray-color : #202E39;
    --font_size1 : 17px;
    --font_size2:13px;
    --font_color : #ffffff;
    --font_colorGray :#5D6673;
    --icon_size :13px;
}
::placeholder{
    color: var(--font_colorGray);
}
body{
    display: flex;
    height:100vh;
    background-color: var(--backgrond_color);

}